.skills-container{
    width: 100%;
    background-color: #282c34;
    color: tomato;
    height: fit-content;
    padding: 2rem 0px 2.5rem;
}
.skills-contain{
    width: 80%;
    margin: 0 auto;
}
.skill-title{
    text-align: center;
    border-bottom: 3px dashed tomato;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 2rem;
}
.skills-flex p{
    color:white;
}
.skills{
    width: 225px;
    height:225px;
}
@media screen and(max-width: 600px) {
    .skills{
        width: 100px;
        height:100px;
    }
}