.con-container{
    width: 100%;
    background-color: #282c34;
    color: white;
    height: fit-content;
    padding: 3rem 0px 2.5rem;
    border-bottom: 1px solid whitesmoke;
}
.con-contain{
    width: 80%;
    margin: 0 auto;
    
}
.con-title{
    text-align: center;
    border-bottom: 3px dashed tomato;
    width: fit-content;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}