*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  color:white;
}
/* body{
  background-color: #282c34;
  color: tomato;
  background-image: radial-gradient(
    at bottom left,
    pink,
    rgb(70, 31, 24),
    rgb(51, 24, 19)
    #282c34,
    #282c34,
    #282c34,
    #282c34,
    #282c34,
    rgb(51, 24, 19),
    rgb(70, 31, 24),
);
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
